<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.streaming.dao.EmployeesDao">
    <resultMap id="empMap" type="com.ratel.streaming.entity.Employees">
        <result property="id" column="id"/>
        <result property="fname" column="fname"/>
        <result property="lname" column="lname"/>
        <result property="birth" column="birth"/>
        <result property="hired" column="hired"/>
        <result property="separated" column="separated"/>
        <result property="jobCode" column="job_code"/>
        <result property="storeId" column="store_id"/>
    </resultMap>
        <select id="selectById" resultMap="empMap">
            SELECT * FROM employees WHERE  id =#{id}

        </select>
    <select id="selectAll" resultMap="empMap">
        SELECT * FROM employees
    </select>
    <select id="selectFetchSize" resultMap="empMap" fetchSize="-2147483648">
        SELECT * FROM employees
    </select>

</mapper>